body {
  font-family: "Roboto", monospace;
  font-size: 100%;
  min-height: 400px;
  background-image: url("https://wallpaperaccess.com/full/333537.jpg");
  background-color: #170f10;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
}
.nav-bar {
  height: 2em;
  padding: 0.25em;
  display: flex;
  background-color: black /*#170f10*/;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.alura-logo {
  width: 40px;
}
.mygithub-logo {
  width: 40px;
}
.page-logo {
  width: 200px;
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1em;
  height: 100vh;
}
.page-title {
  border-radius: 0.5em;
  background-color: #fd5220;
  width: 100%;
  color: #200d00;
  margin: 0 0 0.25em;
}

.page-subtitle {
  color: white;
  width: 100%;
  border-radius: 0.5em;
  background-color: #ff6400;
  margin-top: 0.25em;
}
label,
legend {
  color: #fc9c9c;
  background-color: #200d00;
  border-radius: 0.75em;
  padding: 0.25em;
}
.escolha {
  color: white;
  border-radius: 0.5em;
  margin-top: 0.25em;
}
.campo-selecao {
  border-radius: 0.5em;
  text-align: center;
  padding: 1em;
  width: 100%;
}
.campo-valor {
  position: relative;
  top: 0.25em;
}

input {
  margin: 0.75em;
  padding: 0.5em;
  border-radius: 0.4em;
}

button {
  margin-top: 0.75em;
  padding: 0.5em;
  border-radius: 0.8em;
  background: #401900;
  color: #ffffff;
}

#valorConvertido {
  font-size: 1.5em;
  color: #fc9c9c;
  border-color: 255, 100, 0, 0.5;
  border-width: var(--ativaBorda, 0);
  border-style: solid;
  border-radius: 0.75em;
  background-color: #200d00;
  width: 100%;
}
